<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/11f8d4d62d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/estilos.css" />
    <link rel="icon" href="../assets/img/favicon.ico">
    <title>Hallazgo Home Deco</title>
</head>
<body>
    <header id="top">  
      <div class="logo"> 
        <img src="../assets/img/logo.png" alt="Logotipo Hallazgo">
      </div>
  
      <nav class="navbar">
          <ul class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./quienes_somos.html">¿Quienes somos?</a></li>
            <li><a href="./productos.html">Productos</a></li>
            <li><a href="./estampas.html">Estampas</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
          </ul>
      </nav>
      </header>
<section class="contacto">
        <H2>Contacto</H2>
    <aside class="formulario">
        <form action="formulario" method="get">
            <label for="Nombre">Nombre</label> <br>
            <input type="text" name="Nombre" size="30" placeholder="Nombre" required> <br><br>
            <label for="Apellido">Apellido</label> <br>
            <input type="text" name="Apellido" size="30" placeholder="Apellido" required> <br><br>
            <label for="e-mail">E-mail</label> <br>
            <input type="email" name="E-mail" size="30" placeholder="E-mail" required>  <br><br>
            <label for="Consulta">Consulta</label><br>
            <textarea name="Texto" id="consulta" cols="50" rows="10" placeholder="Ingrese su consulta o pedido de presupuesto"></textarea><br><br>
            <input type="reset" value="Borrar">
            <input type="submit" value="Enviar">
        </form>
    </aside>    
</section>
</body>      
<footer>
    <h3>Contactanos</h3>
          <div class="redes">
              <span>
                  <i class="fab fa-facebook">Facebook</i>
                </span>
                <span>
                  <i class="fab fa-instagram">
                      <a class="social-icon" href="https://www.instagram.com/hallazgo.homedeco/" target="_blank" aria-label="instagram Hallazgo.homedeco">Hallazgo.Homedeco </a>      
                  </i>
                </span>
                <span>
                  <i class="fa-regular fa-envelope"> hallazgo.homedeco@gmail.com</i>
                </span>
              </div>
              <div class="final">
                  <p> Copyright.| Todos los derechos resevados. </p> <br>
                  <p><a class="top" href="#top">Subir</a></p>   
              </div>
  </footer>


</body>
</html>