<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/11f8d4d62d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/estilos.css" />
    <link rel="icon" href="../assets/img/favicon.ico">
    <title>Hallazgo Home Deco</title>
</head>
<body>
    <header id="top">  
      <div class="logo"> 
        <img src="../assets/img/logo.png" alt="Logotipo Hallazgo">
      </div>
  
      <nav class="navbar">
          <ul class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/quienes_somos.html">¿Quienes somos?</a></li>
            <li><a href="../views/productos.html">Productos</a></li>
            <li><a href="../views/estampas.html">Estampas</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
          </ul>
      </nav>
      </header>

    <section class="quienes_somos">
        <h2>¿Quienes Somos?</h2>
        <p>Contrariamente a la creencia popular, Lorem Ipsum no es simplemente un texto aleatorio. Tiene sus raíces en una pieza de la literatura latina clásica del 45 a. C., por lo que tiene más de 2000 años. Richard McClintock, profesor de latín en Hampden-Sydney College en Virginia, buscó una de las palabras latinas más oscuras, consectetur, en un pasaje de Lorem Ipsum, y al revisar las citas de la palabra en la literatura clásica, descubrió la fuente indudable. Lorem Ipsum proviene de las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" (Los extremos del bien y del mal) de Cicerón, escrito en el 45 a. Este libro es un tratado de teoría de la ética, muy popular durante el Renacimiento. La primera línea de Lorem Ipsum, "Lorem ipsum dolor sit amet..", proviene de una línea en la sección 1.10.32.
        </p>
    </section>  

    <footer>
        <h3>Contactanos</h3>
              <div class="redes">
                  <span>
                      <i class="fab fa-facebook">Facebook</i>
                    </span>
                    <span>
                      <i class="fab fa-instagram">
                          <a class="social-icon" href="https://www.instagram.com/hallazgo.homedeco/" target="_blank" aria-label="instagram Hallazgo.homedeco">Hallazgo.Homedeco </a>      
                      </i>
                    </span>
                    <span>
                      <i class="fa-regular fa-envelope"> hallazgo.homedeco@gmail.com</i>
                    </span>
                  </div>
                  <div class="final">
                      <p> Copyright.| Todos los derechos resevados. </p> <br>
                      <p><a class="top" href="#top">Subir</a></p>   
                  </div>
      </footer>

</body>
</html>